<div class="hero_banner d-flex flex-column align-items-center justify-content-center text-center">
  <h1 class="display-5 fw-bold">Save any kind of movies</h1>
  <p class="lead mb-4">Classic</p>
</div>

<div class="container my-3 d-flex">
  <div class="col-8">
    <h2>My Lists</h2>
    <div class="d-flex flex-wrap">
      <% @lists.each do |list| %>
        <div class="border position-relative bg-light shadow me-3 my-3 py-5 lg-shadow px-3 rounded-3 d-flex justify-content-center align-items-center" style="width: 190px">
          <%= link_to list_path(list),class: "text-decoration-none  text-dark" do%>
            <%= list.name %>
          <% end %>
          <%= link_to list_path(list), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "position-absolute p-1 bottom-0 end-0" do %>
              <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 1024 1024"><path fill="#c4130e" d="M360 184h-8c4.4 0 8-3.6 8-8zh304v-8c0 4.4 3.6 8 8 8h-8v72h72v-80c0-35.3-28.7-64-64-64H352c-35.3 0-64 28.7-64 64v80h72zm504 72H160c-17.7 0-32 14.3-32 32v32c0 4.4 3.6 8 8 8h60.4l24.7 523c1.6 34.1 29.8 61 63.9 61h454c34.2 0 62.3-26.8 63.9-61l24.7-523H888c4.4 0 8-3.6 8-8v-32c0-17.7-14.3-32-32-32M731.3 840H292.7l-24.2-512h487z"/></svg>
          <% end %>
        </div>
      <% end %>
    </div>

  </div>
  <div class="col-4">
    <%= link_to new_list_path, class: "text-decoration-none" do %>
      <p class="btn btn-primary rounded-4 px-3 py-2">Create a movie list</p>
    <% end %>
  </div>
</div>
