// Specific CSS for your home-page
.hero_banner {
  background-image: url("https://images.unsplash.com/photo-1753944847480-92f369a5f00e?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  height: 400px;

  h1,p{
    color:white;
    text-shadow: 0 3px 2px rgba(0,0,0,0.2);
  }

}

h1 {
  font-family: "Big Shoulders Stencil", sans-serif;
  font-style: normal;;
  font-size: 70px;
}

p{
  font-family: "Anuphan", sans-serif;
  font-size: 16px;
  margin-bottom: 0px;
}
